.col-md-3.col-sm-6.col-xs-6.product-wrapper.home.is-animated,.product-block.gray,.inner
{
    width: 300px;
    height: 605px;
    background-color: #f0f0f0;
}
.inner img
{
  width:265px;
  height: 198px;
}
.contents
{
  text-align: center;
  font-family: 'HP Simplified', sans-serif;
  width:306px;
  height:275px;
}
.contetnts p
{
  text-align: center;
  width: 265px;
  height:100px;
}
.stellar-title__medium.black
{
  font-weight: 400;
}
.stellar-title__medium.black h2
{
  font-size:20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.stellar-body__medium.black
{
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.btn-wrapper
{
  width:306.5px;
  height:63px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.btn-wrapper a
{
  color: #000;
  text-decoration: none;
  text-align: center;
}
.c-button.stack.transparent-c.learnmore.right-space
{
  font-family: 'HP Simplified', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width:103px;
  height:33px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.c-button.stack.black-c.shopnow
{
  background-color: #000;
}
.c-button.stack.black-c.shopnow
{
  font-family: 'HP Simplified', sans-serif;
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width:103px;
  height:33px;
}